*{
    box-sizing: border-box;
}

.inPokemon{
    width: 200px;
    border-radius: 20px;
    outline: none;
    padding: 5px;
    margin-right: 10px;
}

.dataPokemon{
    margin-top: 30px;
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dataPokemon div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}